@use "@react-md/theme/dist/color-palette" as *;
@forward "react-md" with (
  $rmd-theme-light: false,
  $rmd-theme-dark-elevation: true,
  $rmd-theme-primary: $rmd-teal-800,
  $rmd-theme-secondary: $rmd-brown-700,
  $rmd-theme-warning: $rmd-deep-orange-a-200,
  $rmd-theme-error: $rmd-red-500,
  $rmd-theme-success: $rmd-green-a-700,
  $rmd-theme-light-background: #fafafa,
  $rmd-theme-light-surface: #fff,
  $rmd-theme-dark-background: #303030,
  $rmd-theme-dark-surface: #424242
);